
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-5wN {
  box-sizing: border-box;
  padding: 1.7rem 0.4rem 0rem 1.6rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135.87deg, rgba(255, 142, 237, 0.5802084804) 0.46%, #ff0000 19.19%, rgba(8, 210, 255, 0.5600000024) 37.92%, rgba(22, 0, 0, 0.0884579644) 56.65%, #19688a 75.38%);
  position: relative;

  .auto-group-fkwd-J3S {
    margin: 0rem 6.2rem 5.1rem 0.9rem;
    width: calc(100% - 7.1rem);
    height: 50.5rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-h5s1-mLL {
      flex-shrink: 0;
      margin-right: 6.2rem;
      width: 111.7rem;
      height: 100%;
      position: relative;

      .marhaba-im-arshad-pervez-student-designer-gamer-avid-reader-ui-ux-frontend-developer-HZa {
        width: 106.4rem;
        height: 50.5rem;
        left: 0;
        line-height: 1.2125;
        color: #000000;
        position: absolute;
        top: 0;
        font-size: 9.6rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';

        .marhaba-im-arshad-pervez-student-designer-gamer-avid-reader-ui-ux-frontend-developer-HZa-sub-0 {
        }
        .marhaba-im-arshad-pervez-student-designer-gamer-avid-reader-ui-ux-frontend-developer-HZa-sub-1 {
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .home-Ko6 {
        position: absolute;
        left: 14.2rem;
        top: 3.9rem;
        width: 12.4rem;
        height: 5.7rem;

        .home-r2L {
          font-weight: 500;
          color: #000000;
          left: 0.9rem;
          top: 1rem;
          font-size: 3.6rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 10.2rem;
          height: 4.4rem;
          position: absolute;
          white-space: nowrap;
        }
        .homebutton-YA4 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.3;
          width: 12.4rem;
          height: 5.7rem;
        }
      }
      .about-F4U {
        padding: 0rem 1.2rem 0rem 0.9rem;
        height: 5rem;
        line-height: 1.2125;
        background-position: center;
        box-sizing: border-box;
        left: 32.5rem;
        font-size: 3.6rem;
        font-weight: 500;
        color: #473a3a;
        white-space: nowrap;
        background-repeat: no-repeat;
        position: absolute;
        top: 4.9rem;
        font-family: Inter, 'Source Sans Pro';
        width: 12.6rem;
        background-image: url('REPLACE_IMAGE:4:21');
        background-size: cover;
      }
      .skillset-Sue {
        width: 15.2rem;
        height: 5.6rem;
        position: absolute;
        left: 52.8rem;
        top: 5rem;

        .skillset-mh2 {
          font-size: 3.6rem;
          line-height: 1.2125;
          white-space: nowrap;
          left: 0;
          height: 4.4rem;
          position: absolute;
          top: 0.3rem;
          font-weight: 500;
          color: #3d6363;
          font-family: Inter, 'Source Sans Pro';
          width: 12.4rem;
        }
        .skillsetbutton-fnQ {
          height: 5.6rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 15.2rem;
        }
      }
      .linkedin-QEC {
        font-family: Inter, 'Source Sans Pro';
        background-repeat: no-repeat;
        position: absolute;
        white-space: nowrap;
        background-position: center;
        background-image: url('REPLACE_IMAGE:4:33');
        width: 16.5rem;
        height: 5.6rem;
        top: 4.9rem;
        font-size: 3.6rem;
        background-size: cover;
        left: 73rem;
        font-weight: 500;
        line-height: 1.2125;
        color: rgba(29, 127, 115, 0.9900000095);
      }
      .hire-UUx {
        width: 17.2rem;
        height: 4.4rem;
        position: absolute;
        left: 94.5rem;
        top: 5.3rem;

        .hirebutton-Prp {
          width: 17.2rem;
          height: 4.3rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
        }
        .hire-me-v64 {
          line-height: 1.2125;
          height: 4.4rem;
          left: 2.2rem;
          top: 0;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.4rem;
          position: absolute;
          font-size: 3.6rem;
          color: #7693a7;
        }
      }
    }
    .group-1-RHi {
      position: relative;
      flex-shrink: 0;
      margin-top: 5.3rem;
      width: 17rem;
      height: 4.4rem;

      .techblog-button-Z92 {
        width: 16.1rem;
        height: 3.5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .tech-blog-HKv {
        height: 4.4rem;
        left: 0;
        top: 0;
        font-weight: 500;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.2599999905);
        width: 17rem;
        position: absolute;
        font-size: 3.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-lcdy-app {
    flex-shrink: 0;
    margin: 0rem 4.3rem 8.7rem 0.9rem;
    width: calc(100% - 5.2rem);
    display: flex;
    align-items: center;

    .image-5-JF2 {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 6.7rem;
      width: 65rem;
      height: 50.2rem;
      object-fit: cover;
    }
    .image-4-2gp {
      height: 50.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 65.1rem;
    }
  }
  .auto-group-q6p3-AY8 {
    margin-bottom: 15.2rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .image-1-JeL {
      margin-right: 5.2rem;
      width: 54.5rem;
      height: 66.1rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 22.1rem;
      flex-shrink: 0;
    }
    .some-information-about-me-im-a-2nd-year-btech-student-at-bs-abdurrahman-crescent-institute-of-science-and-technology-im-an-enthusiastic-reader-and-have-invested-my-time-and-money-into-learning-new-skills-be-it-new-computer-languages-or-cooking-or-anything-that-peaks-my-interest-qeG {
      font-weight: 500;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 82.3rem;
      font-size: 3.6rem;
    }
  }
  .auto-group-wd7y-RcU {
    margin-right: 6.3rem;
    width: 135.7rem;
    height: 135.4rem;
    position: relative;
    flex-shrink: 0;

    .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn {
      width: 135.7rem;
      height: 135.4rem;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.2125;
      position: absolute;
      left: 0;
      top: 0;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-0 {
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-1 {
        font-weight: 700;
        line-height: 1.2125;
        color: #6c198a;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-2 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-3 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-4 {
        color: #6c198a;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-5 {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-6 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-7 {
        text-decoration-line: underline;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .tech-reviews-dell-g5-152020-when-my-ancient-budget-laptop-from-2015-finally-gave-up-in-the-middle-of-peak-covid-season-i-was-in-the-market-for-a-new-laptop-not-anything-fancy-but-with-just-enough-firepower-to-handle-whatever-light-programming-i-could-throw-at-it-while-also-being-able-to-handle-the-latest-oneplus-9r-5g2021-i-had-got-my-hands-on-the-oneplus-9r-during-november-of-2021-almost-7-months-after-the-launch-of-the-phone-i-was-looking-for-new-phone-that-would-last-me-through-university-without-giving-me-any-hiccups-down-the-line-so-far-the-9r-has-been-exactly-that-not-taking-into-account-the-ZTn-sub-8 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
    .image-3-ocL {
      width: 27.5rem;
      height: 18.3rem;
      position: absolute;
      left: 0;
      top: 75.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-2-wTe {
      width: 31.1rem;
      height: 16.2rem;
      position: absolute;
      left: 0;
      top: 23.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
